<%- include ('templates/header') -%>
<%- include ('templates/navbar_full') -%>

<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-4 col-md-4" data-s>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th colspan="2">Friends</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach((oneUser)=>{ %>
                    <tr>
                        <th scope="row"><a href="/users/<%= oneUser._userID %>"><%= oneUser.Name %></a></th>
                        <td><%= oneUser.UserName %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <div class="col-xl-8 col-md-8">
            <div class="row border" style="min-height: 500px">
            </div>
            <div class="row">
                <form class="form-group" style="width: 100%">
                    <div class="form-group">
                        <button class="btn btn-primary form-control float-right" style="width: 10%">Send</button>
                        <input class="form-control" id="message" placeholder="Send a message..." autocomplete="off"
                               style="width: 89%"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include ('templates/footer') -%>