<%- include ('templates/header') -%>
<%- include ('templates/navbar_full') -%>

<br>
<div class="container">
    <h2><%= game.name %></h2>
    <h5>Uploaded: <a href="/users/<%= game._owner %>"><%= user.username %></a></h5>
    <p><%= game.desc %></p>
    <a href="/lobbies/new" class="btn btn-success">Play <i class="fas fa-gamepad"></i></a>
    <a href="/lobbies" class="btn btn-secondary">Lobbies <i class="fas fa-list"></i></a>
    <% if (game._owner == session.userID){ %>
        <a href="/games/edit/<%= game._id %>" class="btn btn-primary">Edit <i class="fas fa-edit"></i></a>
        <a href="/games/del/<%= game._id %>" class="btn btn-danger">Delete <i class="fas fa-trash"></i></a>
    <% }else{
    } %>
</div>

<%- include ('templates/footer') -%>