<%- include ('templates/header') -%>
<%- include ('templates/navbar_full') -%>

<br>
<div class="container">
    <div>
        <a href="/lobbies/new" class="btn btn-primary float-right">New lobby</a>
        <h2>List of active lobbies</h2>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Game</th>
            <th>Players</th>
            <th>&nbsp;</th>
        </tr>
        <% lobbies.forEach((oneLobby)=>{ %>
            <tr>
                <td class="align-middle"><%= oneLobby.name %></td>
                <td class="align-middle"><a href="/games/<%= oneLobby._game %>"><%= oneLobby._game %></a></td>
                <td class="align-middle"><%= oneLobby.size %>/<%= oneLobby.capacity %></td>
                <td><a href="/lobbies/<%= oneLobby._id %>" class="btn btn-block btn-primary">Join <i
                                class="fas fa-sign-in-alt"></i></a></td>
            </tr>
        <% }); %>
        </thead>
    </table>
</div>

<%- include ('templates/footer_extra') -%>