<%- include ('templates/header') -%>
<%- include ('templates/navbar_full') -%>

<br>
<div class="container">
    <h2><%= user.username %></h2>
    <table class="table table-bordered">
        <tr>
            <th>Name:</th>
            <td><%= user.name %></td>
        </tr>
        <tr>
            <th>Country:</th>
            <td><%= user.country %></td>
        </tr>
    </table>
    <a href="/users/<%= user._id %>/games" class="btn btn-success">User's games <i class="fas fa-gamepad"></i></a>
    <% if (user._id == session.userID){ %>
        <a href="/users/edit/<%= user._id %>" class="btn btn-primary">Edit <i class="fas fa-edit"></i></a>
    <% }else{
    } %>
</div>

<%- include ('templates/footer') -%>