<%- include ('templates/header') -%>
<% if (typeof user === 'undefined'){ %>
    <%- include ('templates/navbar_min') -%>
<% }else { %>
    <%- include ('templates/navbar_full') -%><% } %>
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-3 col-12"></div>
        <div class="col-xl-6 col-md-6 col-12">
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <% if (typeof user === 'undefined') { %>
                    <h1>Sign up</h1>
                    <p class="lead">Please provide your data to continue</p>
                <% } else { %><h1>Modify your data</h1>
                <p class="lead">Please edit your data to continue</p>
                <% } %>
            </div>
            <form method="post">
                <input type="hidden" name="_userID" value="<%= (typeof user === 'undefined') ? '' : user._userID %>"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Mail">Email</label>
                        <input type="email" class="form-control" id="Mail" name="Mail"
                               value="<%= (typeof user === 'undefined') ? '' : user.Mail %>"
                               placeholder="youraddress@email.com"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Pass">Password</label>
                        <input type="password" class="form-control" id="Pass" name="Pass"
                               value="<%= (typeof user === 'undefined') ? '' : user.Pass %>" placeholder="Password"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name"
                               value="<%= (typeof user === 'undefined') ? '' : user.Name %>" placeholder="John Doe"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="UserName">Username</label>
                        <input type="text" class="form-control" id="UserName" name="UserName"
                               value="<%= (typeof user === 'undefined') ? '' : user.UserName %>"
                               placeholder="hunterkiller99"
                               required>
                    </div>
                    <div class="form-group col-12">
                        <label for="Country">Country</label>

                        <%- include ('templates/countries_select') -%>

                    </div>
                </div>
                <input type="submit" class="btn btn-primary"
                       value="<% if (typeof user === 'undefined') { %>Sign up<% }else{ %>Save<% } %>"/>
                <a class="btn btn-link" href="/">Cancel</a>
            </form>
        </div>
        <div class="col-xl-4 col-md-4 col-12"></div>
    </div>
</div>

<%- include ('templates/footer') -%>