<%- include ('templates/header') -%>
<%- include ('templates/navbar_full') -%>

<br>
<div class="container">
    <h2>Registered users</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Country</th>
            <th>&nbsp;</th>
        </tr>
        <% users.forEach(function (oneUser) { %>
            <tr>
                <td class="align-middle">
                    <%= oneUser.Name %>
                </td>
                <td class="align-middle">
                    <%= oneUser.UserName %>
                </td>
                <td class="align-middle">
                    <%= oneUser.Country %>
                </td>
                <td>
                    <a href="/users/<%= oneUser._userID %>" class="btn btn-primary">Profile <i
                                class="fas fa-user-circle"></i></a>
                    <a href="/users/<%= oneUser._userID %>/games" class="btn btn-success">User's games <i
                                class="fas fa-gamepad"></i></a>
                </td>
            </tr>
        <% }); %>
        </thead>
    </table>
</div>

<%- include ('templates/footer_extra') -%>