<%- include ('templates/header') -%>
<%- include ('templates/navbar_full') -%>

<br>
<div class="container">
    <a href="/users/<%= user._id %>" class="btn btn-outline-primary float-right">Go back</a>
    <h2><%= user.username %>'s uploaded games</h2>
    <table class="table table-bordered text-justify">
        <thead class="thead-dark">
        <tr>
            <th width="15%">Name</th>
            <th>Description</th>
            <th width="15%">&nbsp;</th>
        </tr>
        <% games.forEach((oneGame)=>{ %>
            <tr>
                <td width="15%"><a href="/games/<%= oneGame._id %>"><%= oneGame.name %></a></td>
                <td><%= oneGame.desc %></td>
                <td width="15%">
                    <a href="/lobbies/new" class="btn btn-block btn-success">Play <i class="fas fa-gamepad"></i></a>
                    <% if (oneGame._owner == session.userID){ %>
                        <a href="/games/edit/<%= oneGame._id %>" class="btn btn-block btn-primary">Edit <i
                                    class="fas fa-edit"></i></a>
                        <a href="/games/del/<%= oneGame._id %>" class="btn btn-block btn-danger">Delete <i
                                    class="fas fa-trash"></i></a>
                    <% }else{
                    } %>
                </td>
            </tr>
        <% }); %>
        </thead>
    </table>
</div>

<%- include ('templates/footer_extra') -%>